{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
			{% if edit == 'null' %}
				<section class="width-swiper">
					<div class="swiper mySwiper mt-5 mb-5">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/62f3ac9b3ed40.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation "></div>
								<figcaption class="figcaption-home">
									<em>sonotéhrapie individuelle</em>
								</figcaption>
							</figure>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/62f26ea855cb4.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Massage ayurvedique</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/62f37a7469692.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Les bols tibetains</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/62f37aafacb04.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Sonotéhrapie de groupe</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/62f24805ad7c0.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Massage hollistique</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/62f2688749b8d.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Position de yoga hata</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/630dc9ad5df9e.JPG')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Position de yoga hata</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/630dc9b79b159.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Position de yoga Advaita</em>
									</figcaption>
								</figure>
							</div>
							<div class="swiper-slide">
								<figure>
									<img src="{{asset('img/imported/630dc9c200e1b.jpg')}}" alt="image représentant l'entreprise ON NADA BRAMHA plus précisément la cliente pedant l'exercise d'une préstation ">
									<figcaption class="figcaption-home">
										<em>Position de yoga Advaita</em>
									</figcaption>
								</figure>
							</div>
						</div>
						{# <div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div> #}
						<div class="swiper-pagination"></div>
					</div>
				</section>
	<div class="wrapper">
		<main>
				<section class="prestation">

					<h2 id="prestation" class="mt-5 mb-5">Les Prestations</h2>
					<hr class="pink">
					<div class="boites mt-5 mb-5">
						{% for benefit in benefits %}
							<div class="boite" ontouchstart="this.classList.toggle('hover');">
								<div class="conteneur">
									<div class="front" style="background-image: url({{benefit.img}})" alt="image représentant {{ benefit.title }} pendant ça pratique">
										<div class="inner">
											<h5 class="card-title">
												<em>{{benefit.title}}</em>
											</h5>
											<span>Lorem ipsum</span>
										</div>
									</div>
									<div class="back">
										<div class="inner">
											<p>
												<a href="{{ path('detail_benefit' , {'id': benefit.id}) }}" class="card-presta-btn">En savoir plus</a>
											</p>
											<p>
												<a href="{{ path('app_session' , {'benefit': benefit.id , 'category': benefit.category.id }) }}" class="card-presta-btn">Réserver une séance</a>
											</p>
											{% if is_granted("ROLE_ADMIN") %}
												<p>
													<a href="{{ path('edit_benefit',{'id': benefit.category.id , 'benefit_id': benefit.id }) }}" class="mb-2">Editer</a>
												</p>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

				</section>

				<section class="video">

					<h2 id="video">Retrouver les vidéos</h2>
					<p class="fs-4">
						<a href="">View all</a>
					</p>

					<hr class="pink">

					<p class="text-center fs-5 mt-3 mb-5">Retrouver toutes les vidéos de séance de
						<em>yoga</em>, des stages effectuer et des vidéo personnelle concernant les
						<em>soins énergétiques et du corps</em>.</p>

				</section>
				<section>

					<h2 class="mt-5 mb-5" id="blog">Blog et actualités d'
						<em>Om nada bramha</em>
					</h2>

					<p class="fs-4">
						<a href="{{ path('show_blog') }}">View all</a>
					</p>

					<hr class="pink">

					<p class="text-center fs-5 mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac augue adipiscing sed ornare enim ut etiam.</p>
					<ul id="categories" class="clr">
						<li class="pusher"></li>
						{% for blog in blogs %}
							<li>
								<div>
									{% if blog.image %}
										<img src="{{blog.image}}" class="card-img-top" alt="image corresondant a l'article de blog {{blog.title}}">
									{% elseif blog.urlVideo %}
										<video width="320" height="240" controls>
											<source src="#" type="video/mp4">
											<source src="#" type="video/ogg">
											Your browser does not support the video tag.
										</video>
									{% else %}
										<img src="{{asset('img/logo/logo.jpg')}}" class="blog-image card-img-top" alt="image du logo par défault">
									{% endif %}
									<h1>{{blog.title | upper}}</h1>
									<p>
										<a href="{{ path('detail_blog', {'id': blog.id}) }}" class="text-light ">Voir plus</a><br><br>
										Éditer le :
										{{blog.publicationDate | date('d/m/Y H:m')}}</p>
								</div>
							</li>
						    <button type="button" class="btn-res btn btn-secondary"><a href="#">Voir plus</a></button>
						{% endfor %}
					</ul>

				</section>
				<section>

					<div id="livredor">
						<h2  class="mt-5 ">Le livre d'or</h2>
						<hr class="pink">
						<p class="fs-4 text-center mt-3 mb-5">Si vous souhaiter laisser un commentaire vous pouvez le déposer ici</p>
						{% if app.user and app.user.chekReservation >= 1  %}
							{{ form_start(formAddPost) }}
							{{ form_errors(formAddPost) }}
							<div class="col d-flex justify-content-center">
								<div class="col-sm-6  mb-2 mt-4">
									{{ form_row(formAddPost.contents, { 'label': 'Laisser un commentaire' }) }}
								</div>
							</div>
							<div class="row">
								<div class="col d-flex justify-content-center">
									<div class="col-2 mt-2 mb-5">
										{{ form_row(formAddPost.submit, { 'label': 'Envoyer' }) }}
									</div>
								</div>
							</div>
							{{ form_end(formAddPost) }}
						{% else %}
							<p class="fs-5 text-center">
								Pour pouvoir laisser un commentaire, il faut avoir un compte utilisateur ou avoir déjà effectué une réservation ou un achat en ligne. 
							</p>
						{% endif %}
						{% for post in posts %}
							{% include "home/_postUser.html.twig" %}
						{% endfor %}
					</div>
				</section>
		{% elseif edit == 'edit' %}
			<section>
				<h2>Le livre d'or</h2>
				<hr class="pink">
				<p class="fs-3 text-center mt-3 mb-5">Modification du commentaire</p>
				{% if app.user %}
					{{ form_start(formAddPost) }}
					{{ form_errors(formAddPost) }}
					<div class="col d-flex justify-content-center">
						<div class="col-sm-6  mb-2 mt-4">
							{{ form_row(formAddPost.contents, { 'label': 'Laisser un commentaire' }) }}
						</div>
					</div>
					<div class="row">
						<div class="col d-flex justify-content-center">
							<div class="col-2 mt-2 mb-5">
								{{ form_row(formAddPost.submit, { 'label': 'Envoyer' }) }}
							</div>
						</div>
					</div>
					{{ form_end(formAddPost) }}
				{% else %}
					<p class="fs-3">Connecter vous pour pouvoir laisser un commentaire !</p>
				{% endif %}
				<div id="livreDor">
					{% for post in posts %}
						{% if is_granted('ROLE_ADMIN') or post.user.id is defined and app.user.id == post.user.id  %}
							{% include "home/_postUser.html.twig" %}
						{% endif %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
	</main>
</div>
{% endblock %}
